@font-face {
    font-family: 'Morganite';
    font-style: normal;
    font-weight: 200;
    src: url('Morganite-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Morganite';
    font-style: italic;
    font-weight: 200;
    src: url('Morganite-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Morganite';
    font-style: normal;
    font-weight: 700;
    src: url('Morganite-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Morganite';
    font-style: italic;
    font-weight: 700;
    src: url('Morganite-BoldItalic.woff') format('woff');
}
